<br>
<div class="jumbotron">
  <h1>Welcome to Blocipedia</h1>
  <p>Blocipedia: Social, Markdown Wikis</p>
  <% unless current_user %>
    <p>
      <%= link_to "Sign In", user_session_path %> or
      <%= link_to "Sign Up", user_registration_path, class: 'btn btn-primary' %> today!
    </p>
  <% end %>
</div>

<div class="row row-centered">
  <div class="col-md-6">
    <h3>Create as many public wikis as you want!</h3>
    <p>Free Plan</p>
  </div>
  <div class="col-md-6">
    <h3>Create Private Wikis</h3>
    <p>Premium Plan</p>
  </div>
</div>
