<% if current_user.role == "standard" %>
  <h3>Upgrade my account</h3>
  <p>Want to create private wikis?  Upgrade your account for $15 today!</p>
  <%= form_tag subscriptions_path do %>
    <h4>Click here to upgrade!</h4>
    <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount=<%= @stripe_btn_data[:amount] %> data-description="<%= @stripe_btn_data[:description] %>" ></script>
  <% end %>
<% end %>

<% if current_user.role == "premium" %>
  <h3>Downgrade my account</h3>
  <p>No longer want to create private wikis?  Downgrade your account here!</p>
<% end %>
